.navbar {
    background-color: #171D25;
    display: flex;
}

.logo {
    margin: 1rem;
    display: flex;
    img{
        width: 150px;
        height: 60px;
    }
}

.btn-nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1.35rem;
    margin-left: 1rem;
    button {
        color: white;
        background-color: #3364be;
        font-size: 1rem;
        height: 50px;
        width: 150px;
        border-radius: 1rem;
        border: 0;
        &:hover {
            background-color: #0095ff;
            cursor: pointer;
        }
    }
} 

.carrito {
    margin: 1.75rem 4rem 0rem auto;
    a {
        text-decoration: none;
    }
}

.cant-cart {
    background-color: red;
    color: white;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.15rem;
    right: 3.5rem;
}