.navbar {
    background-color: rgb(22, 22, 22);
    display: flex;
}

.logo {
    margin: 1rem;
    display: flex;
    img{
        width: 150px;
        height: 60px;
    }
}

.carrito {
    margin: 1.75rem 4rem 0rem auto;
    a {
        text-decoration: none;
    }
}

.cant-cart {
    background-color: red;
    color: white;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Para posicionar el número */
    top: 1.15rem; /* Ajuste para posicionarlo correctamente */
    right: 3.5rem;
}