.cart-card{
    background-color: #171D25;
    border-radius: 1rem;
    width: 800px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    img {
        width: 30%;
    }
    h3 {
        color: white;
    }
    .precio {
        margin: 0 1rem 0 auto;
    }
    button {
        margin-left: 2rem;
        background-color: #ff5252;
        color: white;
        width: 45px;
        height: 45px;
        border-radius: 0.35rem;
        border: none;
        font-size: 1.25rem;
        &:hover{
            cursor: pointer;
            background-color: #ff0000;
            transition: 300ms;
        }
    }
}